services:

  postgresql:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: ${SQL_PASSWORD}     
      POSTGRES_DB: ${SQL_DATABASE_NAME}      
      POSTGRES_USER: ${SQL_USER:-postgres}    
    volumes:
      - postgresql-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
      
  redis:
      image: redis:8.2.3
      container_name: redis
      restart: always
      ports: 
        - "6379:6379"
      volumes:
        - redis-data:/data
  nginx:
    image: nginx:latest
    container_name: my_nginx
    ports:
      # ⭐️ เราจะเปิด port 80 (HTTP) ที่นี่ที่เดียว
      - "80:80"
    volumes:
      # ⭐️ เชื่อมไฟล์ config ที่เราสร้างไว้ เข้าไปใน Nginx
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      # ⭐️ บอก Nginx ให้รอจนกว่า 2 ตัวนี้จะพร้อม (Healthy)
      frontend:
        condition: service_healthy
      backend:
        condition: service_healthy

  backend:
    image: xdstudio/backend
    build:
      context: ./backend/xdstudio_keystone
    container_name: backend
    # working_dir: /backend/xdstudio_keystone
    env_file:
      - ./.env.production
      - ./backend/xdstudio_keystone/.env
    ports:
      - "3001:3001"
    depends_on:
      - postgresql
      - redis
     
    command: sh -c "npm run start"

  frontend:
    # build:
    #   context: ./frontend/xdstudio
    #   target: 'production'
    image: xdstudio/frontend
    build:
      context: ./frontend/xdstudio
    container_name: frontend
    env_file:
      # - ./.env 
      - ./.env.production 
      - ./frontend/xdstudio/.env.production

    # volumes:
    #   - ./frontend:/app
    #   - /app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - backend
    command: ["npm", "start"]

volumes:
   postgresql-data:
   redis-data:
