version: "3.9"

services:
  # mariadb:
  #   image: mariadb:11 
  #   container_name: mariadb
  #   restart: always
  #   environment:
  #     MARIADB_ROOT_PASSWORD: ${SQL_PASSWORD}
  #     MARIADB_DATABASE: ${SQL_DATABASE_NAME}
  #   volumes:
  #     - mariadb-data:/var/lib/mysql
  #   ports:
  #     - "33061:3306"
      
  postgresql:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: ${SQL_PASSWORD}     
      POSTGRES_DB: ${SQL_DATABASE_NAME}      
      POSTGRES_USER: ${SQL_USER:-postgres}    
    volumes:
      - postgresql-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend/xdstudio
    container_name: backend
    env_file:
      - .env
    depends_on:
      - postgresql
    ports:
      - "${PORT}:3001"
    command: node dist/bin/www.js

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - backend
    command: yarn dev

volumes:
   postgresql-data:
