version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${SQL_PASSWORD}
      MYSQL_DATABASE: ${SQL_DATABASE_NAME}
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "33061:33061"

  backend:
    build:
      context: ./backend
    container_name: backend
    env_file:
      - .env
    depends_on:
      - mysql
    ports:
      - "${PORT}:4000"
    command: node dist/bin/www.js

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - backend
    command: yarn dev

volumes:
  mysql-data:
