# AUTH_URL=http://192.168.1.2:3000/api/auth
AUTH_TRUST_HOST=

AUTH_SECRET=

# === 🔒 NEXT AUTH SPECIFIC ===

# Trust Host
AUTH_TRUST_HOST=
# Redirect Proxy URL
AUTH_REDIRECT_PROXY_URL=
# Discord Application Client ID
AUTH_DISCORD_CLIENT_ID=
# Discord Application Client Secret
AUTH_DISCORD_CLIENT_SECRET=
