# ======================
# Server-side env (Next.js / API)
# ======================
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DATABASE_URL=
SECRET_KEY=
PORT=
CODEGEN_TOKEN=
PRIVATE_SITE_URL=
AUTH_DISCORD_CLIENT_ID=
AUTH_DISCORD_CLIENT_SECRET=
XD_CORE_API_URL=
OMISE_PUBLIC_KEY=
OMISE_SECRET_KEY=
NODE_ENV=development
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
REDIS_HOST=
REDIS_PORT=
AUTH_SECRET=

INTERNAL_SITE_URL=
PRIVATE_SITE_URL=
# <!-- stripe listen --forward-to localhost:3000/api/stripe/webhooks/ -->


# ======================
# Client-side env (Next.js / browser)
# ======================
NEXT_PUBLIC_NODE_ENV=development
NEXT_PUBLIC_SITE_URL=
NEXT_PRIVATE_SITE_URL=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# ======================
# System env (Next Auth)
# ======================
AUTH_TRUST_HOST=
AUTH_SECRET=
AUTH_REDIRECT_PROXY_URL=
